# Ignore all compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore all files inside data/source and data/processed
data/documents/*
data/embeddings/*

# Allow .gitkeep files to be tracked
!data/documents/.gitkeep
!data/embeddings/.gitkeep
